header{
    background-color: green;
    color: aliceblue;
    display: flex;
    justify-content: left;
    text-align: center;
    max-width: 100%;
    margin: 0px;
    padding: 2rem;
}

header img{
    max-width: 5%;
}

.bug{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: yellowgreen;
}

